target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### app ###
*/.vscode
*/node_modules/
*/dist/
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
*/package-lock.json
*/tests/**/coverage/

### springboot ###
*/.idea/
*/.idea
*/target
*/*.log
*/*.tmp
*/*.gz
*/*.iml
*/.mvn
*/*.ipr
*/**/application-test.yml
